# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# GoogleMaps API Key
g_key = "AIzaSyAZAFWveZlatKaTyHMgeDCakGukecdCag0"

# Import API key
# from api_keys import g_key

In [20]:
# base_url = "https://maps.googleapis.com/maps/api/place/nerbysearch/json"
# request = requests.get(base_url, params = params)


# params =

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [21]:
#Read city data file
cities_df = pd.read_csv('city_df.csv')
cities_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,0,Warwick,90,US,1598726046,94,41.70,-71.42,75.99,12.75
1,1,Bredasdorp,100,ZA,1598725957,93,-34.53,20.04,42.80,8.05
2,2,Jamestown,90,US,1598725929,73,42.10,-79.24,73.99,24.16
3,3,Ushuaia,75,AR,1598725927,80,-54.80,-68.30,33.80,18.34
4,4,Chui,98,UY,1598726009,92,-33.70,-53.46,62.01,9.95

In [22]:
del cities_df['Unnamed: 0']

In [23]:
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,Warwick,90,US,1598726046,94,41.70,-71.42,75.99,12.75
1,Bredasdorp,100,ZA,1598725957,93,-34.53,20.04,42.80,8.05
2,Jamestown,90,US,1598725929,73,42.10,-79.24,73.99,24.16
3,Ushuaia,75,AR,1598725927,80,-54.80,-68.30,33.80,18.34
4,Chui,98,UY,1598726009,92,-33.70,-53.46,62.01,9.95
...,...,...,...,...,...,...,...,...,...
541,Ust-Kuyga,58,RU,1598726282,75,70.02,135.60,39.15,1.90
542,Bud,40,US,1598726006,61,39.45,-86.18,84.00,11.41
543,Salalah,90,OM,1598726003,94,17.02,54.09,77.00,3.36
544,Saint-Louis,20,SN,1598726283,56,16.33,-15.00,93.20,6.93
545,Mmathubudukwane,90,BW,1598726283,14,-24.60,26.43,68.00,9.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [24]:
# Configure Google Maps Key
gmaps.configure(api_key=g_key)

humidity_df = cities_df["Humidity"]

locations_df = cities_df [["Lat" , "Lon"]]

In [25]:
#Add Heatmap

heatmap_df = gmaps.figure(center = (20, 0), zoom_level = 2.2)
heatlayer_df = gmaps.heatmap_layer(locations_df, humidity_df, dissipating = False, max_intensity = 100, point_radius = 5)
heatmap_df.add_layer(heatlayer_df)
heatmap_df

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [26]:
cities_df.describe()

,Cloudiness,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
count,546.000000,5.460000e+02,546.000000,546.000000,546.000000,546.000000,546.000000
mean,52.042125,1.598726e+09,70.602564,17.954634,17.770751,68.651099,8.653004
std,40.159042,1.354269e+02,20.511566,33.414462,92.165015,15.440021,5.763983
min,0.000000,1.598726e+09,3.000000,-54.800000,-179.170000,31.870000,0.110000
25%,2.000000,1.598726e+09,60.000000,-8.427500,-65.175000,54.645000,4.470000
50%,60.500000,1.598726e+09,74.000000,19.185000,22.435000,72.095000,7.470000
75%,93.000000,1.598726e+09,87.000000,46.600000,100.772500,80.010000,11.410000
max,100.000000,1.598726e+09,100.000000,78.220000,179.320000,104.000000,32.440000

In [36]:
# A max temperature lower than 80 degrees but higher than 70.
# criteria_df = cities_df.loc[cities_df["Max Temp"]<80]

# Wind speed less than 10 mph.

# Zero cloudiness.

criteria_df = cities_df.loc[(cities_df["Max Temp"]<80) & (cities_df["Max Temp"]>70) & (cities_df["Wind Speed"]<10) & (cities_df["Cloudiness"]<10)] 

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
len(criteria_df)

28

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
# hotel_df = criteria_df
# hotel_df.head()
s
criteria_df["Hotel Name"] = ""
hotel_df = criteria_df[["City", "Country", "Hotel Name", "Cloudiness", "Lat", "Lon", "Max Temp", "Wind Speed"]]

<ipython-input-43-3a4b00441552>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  criteria_df["Hotel Name"] = ""

In [44]:
# API Query
# Hotel_List = []
g_key = "AIzaSyAZAFWveZlatKaTyHMgeDCakGukecdCag0"
# Create Parameters dictionary
params_df = {"radius": 5000, "types": "hotel", "key": g_key}

for index, row in hotel_df.iterrows():
    # Get Lat and Long from hotel_df
    lat_value = row["Lat"]
    long_value = row["Lon"]
    params_df["location"] = f"{lat_value},{long_value}"

    final_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Get weather data
    weather_response = requests.get(final_url, params = params_df)
    weather_json = weather_response.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = weather_json['results'][0]["name"]
                      
        print(f" The name of the hotel is {weather_json['results'][0]['name']}")
    except(KeyError, IndexError):        
        print(f" Hotel name not found.")

C:\Users\cheye\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

 The weather in the city of Sacramento
 The weather in the city of Castro
 The weather in the city of San Jose
 The weather in the city of Kalemie
 The weather in the city of Grand-Lahou
 The weather in the city of Bardiyah
 The weather in the city of Shingu
 The weather in the city of Sinazongwe
 The weather in the city of Karratha
 The weather in the city of Nacala
 The weather in the city of Caravelas
 The weather in the city of Dalian
 The weather in the city of Wanning
 The weather in the city of Carman
 The weather in the city of Gwembe
 The weather in the city of Adamantas
 The weather in the city of Belmonte
 The weather in the city of Bayingolin Mongol Autonomous Prefecture
 The weather in the city of Ilhabela
 The weather in the city of Çay
 The weather in the city of Eger
 The weather in the city of Goodlands
 The weather in the city of Haikou
 The weather in the city of Dubki
 The weather in the city of Tarabuco
 The weather in the city of Kieta
 The weather in the city of Roebourne
 The weather in the city of Chegutu

In [51]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [52]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
marker_layer_df = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer_df)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))